<ion-header>
    <ion-toolbar>
        <ion-title>{{item.Name}}</ion-title>

        <ion-buttons slot="primary">
            <ion-button title="{{'erp.app.pages.ost.branch.close-modal' | translate}}" color="secondary" (click)="closeModal()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding" fullscreen>
    <form [formGroup]="formGroup">
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12" size-sm="12" size-md="6">
                    <div class="c-control">
                        <label class="c-label" for="Name">{{'erp.app.pages.ost.branch.name' | translate}} <small *ngIf="item.Id">Id: {{item.Id}}</small>
                            <span *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Name" formControlName="Name" type="text">
                    </div>

                    <div class="c-control">
                        <label class="c-label" for="IDParent">{{'erp.app.pages.ost.branch.id-parent' | translate}}
                            <span *ngIf="!formGroup.controls.IDParent.valid && !formGroup.controls.IDParent.pending && (formGroup.controls.IDParent.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>

                        <select class="c-input c-dropdown" formControlName="IDParent" >
                            <option [disabled]="t.flag" *ngFor="let t of branchList" [value]="t.Id">{{t.Name}}</option>
                        </select>
                    </div>

                    <div class="c-control">
                        <label class="c-label" for="Type">{{'erp.app.pages.ost.branch.id-type' | translate}}
                            <span *ngIf="!formGroup.controls.Type.valid && !formGroup.controls.Type.pending && (formGroup.controls.Type.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>

                        <select class="c-input c-dropdown" formControlName="Type" >
                            <option *ngFor="let t of typeList" [value]="t.Id">{{t.Name}}</option>
                        </select>
                    </div>
                    

                </ion-col>
                <ion-col size="12" size-sm="12" size-md="6">
                    <div class="c-control">
                        <label class="c-label" for="ShortName">{{'erp.app.pages.ost.branch.short-name' | translate}}
                            <span *ngIf="!formGroup.controls.ShortName.valid && !formGroup.controls.ShortName.pending && (formGroup.controls.ShortName.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="ShortName" formControlName="ShortName" type="text">
                    </div>

                    <div class="c-control">
                        <label class="c-label" for="Remark">{{'erp.app.pages.ost.branch.remark' | translate}}
                            <span *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <textarea rows="3" class="c-input remark" id="Remark" formControlName="Remark" type="textarea"></textarea>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <div class="c-control">
                        <label class="c-label" for="Code">{{'erp.app.pages.ost.branch.union-code' | translate}}
                            <span *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>

                        <input class="c-input" id="Code" formControlName="Code" type="text">
                    </div>

                    <div class="c-control" *ngIf="item.Type == 'TitlePosition'">
                        <label class="c-label" for="IDAdministrationManager">{{'erp.app.pages.ost.branch.is-administration-manager' | translate}}
                            <span *ngIf="!formGroup.controls.IDAdministrationManager.valid && !formGroup.controls.IDAdministrationManager.pending && (formGroup.controls.IDAdministrationManager.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>

                        <select class="c-input c-dropdown" formControlName="IDAdministrationManager" >
                            <option [disabled]="t.flag" *ngFor="let t of branchList" [value]="t.Id">{{t.Name}}</option>
                        </select>
                    </div>

                    <div class="c-control" *ngIf="item.Type == 'TitlePosition'">
                        <label class="c-label" for="IDSpecializedManagement">{{'erp.app.pages.ost.branch.id-specialized-management' | translate}}
                            <span *ngIf="!formGroup.controls.IDSpecializedManagement.valid && !formGroup.controls.IDSpecializedManagement.pending && (formGroup.controls.IDSpecializedManagement.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>

                        <select class="c-input c-dropdown" formControlName="IDSpecializedManagement" >
                            <option [disabled]="t.flag" *ngFor="let t of branchList" [value]="t.Id">{{t.Name}}</option>
                        </select>
                    </div>

                    <div class="c-control" *ngIf="item.Type == 'TitlePosition'">
                        <input [readonly]="!(pageConfig.canEdit || pageConfig.canAdd)" class="c-checkbox" id="IsHeadOfDepartment" formControlName="IsHeadOfDepartment" type="checkbox">
                        <label class="c-label checkbox" for="IsHeadOfDepartment">{{'erp.app.pages.ost.branch.is-head-of-department' | translate}}
                            <span *ngIf="!formGroup.controls.IsHeadOfDepartment.valid && !formGroup.controls.IsHeadOfDepartment.pending && (formGroup.controls.IsHeadOfDepartment.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                    </div>


                    <div class="c-control" *ngIf="item.Type == 'Company' || item.Type == 'Branch'">
                        <label class="c-label" for="BusinessRegistrationNumber">{{'erp.app.pages.ost.branch.business-registration-number' | translate}}
                            <span *ngIf="!formGroup.controls.BusinessRegistrationNumber.valid && !formGroup.controls.BusinessRegistrationNumber.pending && (formGroup.controls.BusinessRegistrationNumber.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="BusinessRegistrationNumber" formControlName="BusinessRegistrationNumber" type="text">
                    </div>
                    
                    <div class="c-control" *ngIf="item.Type == 'Company' || item.Type == 'Branch'">
                        <label class="c-label" for="IssueDate">{{'erp.app.pages.ost.branch.issue-date' | translate}}
                            <span *ngIf="!formGroup.controls.IssueDate.valid && !formGroup.controls.IssueDate.pending && (formGroup.controls.IssueDate.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="IssueDate" formControlName="IssueDate" type="date">
                    </div>

                    <div class="c-control" *ngIf="item.Type == 'Company' || item.Type == 'Branch'">
                        <label class="c-label" for="IssuedBy">{{'erp.app.pages.ost.branch.issue-by' | translate}}
                            <span *ngIf="!formGroup.controls.IssuedBy.valid && !formGroup.controls.IssuedBy.pending && (formGroup.controls.IssuedBy.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="IssuedBy" formControlName="IssuedBy" type="text">
                    </div>

                    <div class="c-control" *ngIf="item.Type == 'Company' || item.Type == 'Branch'">
                        <label class="c-label" for="TaxCode">{{'erp.app.pages.ost.branch.tax-code' | translate}}
                            <span *ngIf="!formGroup.controls.TaxCode.valid && !formGroup.controls.TaxCode.pending && (formGroup.controls.TaxCode.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="TaxCode" formControlName="TaxCode" type="text">
                    </div>

                    <div class="c-control" *ngIf="item.IDType != 119 ">
                        <label class="c-label" for="Phone" >{{'erp.app.pages.ost.branch.phone' | translate}}
                            <span *ngIf="!formGroup.controls.Phone.valid && !formGroup.controls.Phone.pending && (formGroup.controls.Phone.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Phone" formControlName="Phone" type="text">
                    </div>
                    <div class="c-control" *ngIf="item.IDType != 119 ">
                        <label class="c-label" for="Phone2" >{{'erp.app.pages.ost.branch.phone2' | translate}}
                            <span *ngIf="!formGroup.controls.Phone2.valid && !formGroup.controls.Phone2.pending && (formGroup.controls.Phone2.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Phone2" formControlName="Phone2" type="text">
                    </div>
                    <div class="c-control" *ngIf="item.IDType != 119 ">
                        <label class="c-label" for="Fax" >{{'erp.app.pages.ost.branch.fax' | translate}}
                            <span *ngIf="!formGroup.controls.Fax.valid && !formGroup.controls.Fax.pending && (formGroup.controls.Fax.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Fax" formControlName="Fax" type="text">
                    </div>
                    <div class="c-control" *ngIf="item.IDType != 119 ">
                        <label class="c-label" for="Email" >{{'erp.app.pages.ost.branch.email' | translate}}
                            <span *ngIf="!formGroup.controls.Email.valid && !formGroup.controls.Email.pending && (formGroup.controls.Email.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Email" formControlName="Email" type="text">
                    </div>

                    <div class="c-control" *ngIf="item.Type == 'Company' || item.Type == 'Branch' || item.Type == 'OfficeCenter' || item.Type == 'Warehouse' ">
                        <label class="c-label" for="Address">{{'erp.app.pages.ost.branch.address' | translate}}
                            <span *ngIf="!formGroup.controls.Address.valid && !formGroup.controls.Address.pending && (formGroup.controls.Address.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Address" formControlName="Address" type="text">
                    </div>

                    <div class="c-control" *ngIf="item.Type == 'Branch' || item.Type == 'OfficeCenter' || item.Type == 'Warehouse' ">
                        <label class="c-label" for="TemplateHeader">{{'erp.app.pages.ost.branch.template-header' | translate}}
                            <span *ngIf="!formGroup.controls.TemplateHeader.valid && !formGroup.controls.TemplateHeader.pending && (formGroup.controls.TemplateHeader.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="TemplateHeader" formControlName="TemplateHeader" type="text">
                    </div>

                    <div class="c-control" *ngIf="!(item.Type == 'Team' || item.Type == 'TitlePosition')">
                        <label class="c-label" for="LogoURL">{{'erp.app.pages.ost.branch.logo-url' | translate}}
                            <span *ngIf="!formGroup.controls.LogoURL.valid && !formGroup.controls.LogoURL.pending && (formGroup.controls.LogoURL.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="LogoURL" formControlName="LogoURL" type="text">
                    </div>

                    <div class="c-control">
                        <label class="c-label" for="Sort" >{{'erp.app.pages.ost.branch.sort' | translate}}
                            <span *ngIf="!formGroup.controls.Sort.valid && !formGroup.controls.Sort.pending && (formGroup.controls.Sort.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                        </label>
                        <input class="c-input" id="Sort" formControlName="Sort" type="number">
                    </div>
                    
                    <div class="c-control ion-text-right" *ngIf="!item.Id && (pageConfig.canAdd || pageConfig.canEditBranch)">
                        <label class="c-label" for=""></label>
                        <ion-button (click)="saveChange()">{{'erp.app.pages.ost.branch.add' | translate}} {{ item.Type == 'TitlePosition'? 'erp.app.pages.ost.branch.jobtitle' : 'erp.app.pages.ost.branch.department' | translate}}</ion-button>
                    </div>
                    <div class="c-control ion-text-right" *ngIf="item.Id">
                        <ion-button *ngIf="pageConfig.canEdit || pageConfig.canEditBranch" (click)="saveChange()" [disabled]="!formGroup.dirty">{{'erp.app.pages.ost.branch.save' | translate}}</ion-button>
                        <ion-button (click)="refresh()" color="warning">{{'erp.app.pages.ost.branch.cancel' | translate}}</ion-button>
                        <ion-button *ngIf="item.Id && pageConfig.canDelete" (click)="delete()" color="danger">{{'erp.app.pages.ost.branch.delete' | translate}}</ion-button>
                    </div>
                    
                </ion-col>
            </ion-row>
        </ion-grid>

        <!-- <div class="c-control" *ngIf="item.Id">
            <label class="c-label" for="Code">Id</label>
            <input readonly class="c-input" id="Id" formControlName="Id" type="text">
        </div> -->

        <!-- <div class="c-control">
            <label class="c-label" for="Code">Mã trung tâm
                <span
                    *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)"
                    ion-text color="danger">(*)</span>
            </label>
            <input class="c-input" id="Code" formControlName="Code" type="text">
        </div> -->
    </form>

</ion-content>