<ion-header>
	<ion-toolbar>
		<ion-title>{{item.Name}}</ion-title>

		<ion-buttons slot="primary">
			<ion-button title="{{'Close' | translate}}" color="secondary" (click)="closeModal()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content appScrollbarTheme class="ion-padding" fullscreen>
	<form [formGroup]="formGroup">
		<ion-grid fixed>
			<ion-row>
				<ion-col>
					<!-- <div class="c-control" *ngIf="item.Id">
                        <label class="c-label" for="Code">Id</label>
                        <input class="c-input" id="Id" formControlName="Id" type="text">
                    </div> -->
					<app-form-control
						[field]="{id:'Name', label: 'Activity', type : 'text', form: formGroup}"
					></app-form-control>
				
					<app-form-control (change)="changeType($event)"
						[field]="{id:'Type', label: 'Type', type : 'ng-select', dataSource: typeList, bindLabel: 'Name', bindValue: 'Code', form: formGroup }"
					></app-form-control>

					<app-form-control *ngIf="formGroup.controls.Type.value && !isBlockBelong"
						[field]="{id:'IDParent', label: 'Belonged to', type : 'ng-select', dataSource: itemParents, bindLabel: 'Name', bindValue: 'Id', clearable:true,form: formGroup}"
					></app-form-control>
        

				</ion-col>
				<ion-col>
					<app-form-control [field]="{id:'Code', label:'Code', type : 'text', form : formGroup }"></app-form-control>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<app-form-control [field]="{id:'Remark', label:'Remark', type : 'textarea', form : formGroup }"></app-form-control>

					<app-form-control [field]="{id:'Sort', label:'Sort', type : 'number', form : formGroup }" (change)="saveChange()"></app-form-control>

					<div class="c-control ion-text-right" *ngIf="!item.Id && (pageConfig.canEditFunction || pageConfig.canAdd)">
						<label class="c-label" for=""></label>
						<ion-button (click)="saveChange()">{{'Add function' | translate}}</ion-button>
					</div>
					<div class="c-control ion-text-right" *ngIf="item.Id">
						<ion-button *ngIf="pageConfig.canEdit" (click)="saveChange()" [disabled]="!formGroup.dirty"
							>{{'Save' | translate}}</ion-button
						>
						<ion-button (click)="refresh()" color="warning">{{'Change cancel' | translate}}</ion-button>
						<ion-button *ngIf="item.Id && pageConfig.canDelete" (click)="delete()" color="danger">{{'Delete' | translate}}</ion-button>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</form>
</ion-content>
