ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}
ion-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}

ion-radio {
  margin-right: 12px;
  order: 0;
}

ion-label {
  order: 1;
}
ion-label, ion-label span, ion-label a {
  text-decoration: none !important;
}